<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dmitry Kovtunov</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <section class="content">
        <div class="text-content">
            <h1>Ковтунов Дмитрий</h1>
            <h3>Python-разработчик</h3>
            <p>Студент 2 курса Дальневосточного Федерального Университета
                города Владивосток
                по направлению прикладная математика и информатика.
            </p>

            <div class="icon-box">
                <a href="https://t.me/dath1s"><i class='bx bxl-telegram' ></i></a>
                <a href="https://vk.com/dath1s"><i class='bx bxl-vk'></i></a>
                <a href="https://github.com/dath1s"><i class='bx bxl-github'></i></a>
            </div>
        </div>
        <div class="photo">
            <img src="../static/img/logo.png">
        </div>
    </section>
</body>
</html>